.top-bar__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    width: 18px;
    height: 18px;
    background-image: url(/src/images/icons/Vector-phone.svg);
  }

  &--menu {
    width: 18px;
    height: 12px;
    background-image: url(/src/images/icons/Vector-bm.svg);

    &:hover {
      background-image: url(/src/images/icons/Vector-bm-h.svg);
    }
  }

  &--close {
    width: 16px;
    height: 16px;
    background-image: url(/src/images/icons/Vector-close.svg);
  }
}
