.product {
  font-family: $content-font;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  overflow: hidden;

  &__photo {
    width: 100%;
    margin-bottom: 24px;
    transition: transform 0.3s ease;
    display: block;
  }

  &:hover &__photo {
    transform: scale(1.05);
  }

  &__price {
    font-family: $main-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    margin-top: 12px;
  }
}
